body {
    background-color: #000000;
    color: rgb(0, 0, 0);
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.blog-post {
    margin: 0 auto;
    width: 80%;
}

.title {
    font-size: 3em;
    margin-top: 10vh;
    text-align: left;
}

.date {
    font-size: 1em;
    margin-top: 1vh;
    text-align: left;
}

.markdown-content p {
    margin-bottom: 1.5em;
    /* additional styles for Markdown converted content */
}

.related-links {
    display: flex;
    justify-content: space-between;
}

.link-box {
    width: 30%;
    height: 100px;
    background-color: #555;
    color: white;
    text-align: center;
    line-height: 100px;
}

footer {
    text-align: center;
    font-size: 0.6em;
    margin-top: 2em;
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 50%;  
    transform: translate(-50%, -50%);  
    z-index: 10;  /* Optional, to ensure the logo sits above other elements */
}

.logo-container img {
    width: 60px;  /* Or whatever size you wish */
    height: auto;  /* Maintains aspect ratio */
}

.cover-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.cover-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.cover-title {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 4rem;
    color: white;
    line-height: 60px;
}

.cover-excerpt {
    position: absolute;
    font-family: "europa", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 30px;
    bottom: 30%;
    left: 10%;
}

.author-container {
    display: flex;
    align-items: center;
    margin-top: 10px;  /* Ensures the container is 10 pixels below the title */
    background-color: rgb(0, 0, 0);  /* Surrounds the container with a white box */
    border-radius: 20px;  /* Rounds the corners with a radius of 20 pixels */
    padding: 5px 15px 5px 5px;  /* Adds some padding inside the white box */
    position: absolute;  /* Makes the container positioned relative to its closest positioned ancestor */
    top: calc(45% + 10px);  /* 10% from the top edge plus 10 pixels to place it just below the title */
    left: 10%;  /* Aligns with the left edge of the title */
    font-size: medium;
}

.author-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;  /* Makes the image circular */
    margin-right: 8px;
}

.author-name {
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 3px;
}

.read-more-button {
    position: absolute;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    bottom: 20%;
    left: 10%;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    color: white;
    padding: 5px 12px;
    cursor: pointer;
    text-transform: uppercase;
}

.text-section p {
    font-family: "input-mono", monospace;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 50px;
    margin-top: 20px;
    line-height: 22px;
}

.publication-date {
    display: inline-flex;
    background: #3d34ea;
    color: white;
    width: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    margin-right: 10px;
    padding: 7px 12px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.publication-tags {
    display: inline-flex;
    background: #F9A26B;
    border-color: #EF4136;
    border-width: 3px;
    border-style: solid;
    color: rgb(0, 0, 0);
    width: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    margin-right: 10px;
    padding: 4px 16px;
    text-transform: uppercase;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.read-time {
    display: inline-flex;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-width: 2px;
    width: auto;
    margin-bottom: 15px;
    border-radius: 50px;
    font-family: "pf-videotext", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    margin-right: 10px;
    padding: 7px 12px;
    border-color: black;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.metadata-container {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.popup {
    position: absolute; /* Allows for positioning relative to the clicked tag */
    font-family: "europa", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    background-color: #e0e0e0; /* Off-white background */
    border: 1px solid rgb(79, 79, 79); /* Grey border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding around text */
    z-index: 1000; /* Make sure it appears over other content */
    margin: 5px; /* Additional space around the popup */
    max-width: 300px; /* Fixed max width */
    text-align: left; /* Center the text within */
    font-size: 16px;
    opacity: 95%;
}


.popup button {
    border: none;
    background: transparent;
    font-size: 1.2rem; /* Adjust as needed */
    cursor: pointer;
    margin: auto;
    display: block;
    padding: 5px; /* Adjust as needed */
}

.copyright-footer {
    text-align: center;
    font-size: 12px; /* You can adjust this size as needed */
    color: rgb(255, 255, 255);
    font-family: 'Futura', sans-serif; /* Fallback to sans-serif if Futura is not available */
    margin-top: 20px; /* Adds some space above the copyright text */
    margin-bottom: 20px; /* Adds some space below the copyright text */
  }

  .markdown-content img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.markdown-content video {
    width: 100vw;
    height: auto;
}

.markdown-content .kg-video-player-container, .kg-video-overlay {
    display: none;
}
